@model IEnumerable<NonTraditionalsBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Posts</h1>

<p style="text-align:center">
    <a asp-action="Create">Create New Blog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model!) 
{
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
                @if (User!.Identity!.IsAuthenticated)
                {
                    <td>
                        @*The following links will only show if a user is logged in*@
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>                
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                }
            </tr>
} 
    </tbody>
</table>
